header {
    background-color: #000000;
    color: #5e5e5e;
    display: flex;
    justify-content: flex-end;
}

body {
    overflow: hidden;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: 0;
}

footer {
    color: #ffffff;
    background-color: #000000;
}

a {
    text-decoration: none;
    color: #999999;
}

a:hover {
    color: #ffffff;
}

h1, p {
    margin: 0px;
}

ul {
    list-style-type: none;
}

.navbar, .navlist, .navbuttons {
    display: flex;
    justify-content: space-between;
}

.navbar {
    background-color: #262626;
    color: #5e5e5e;
}

.navlist {
    gap: 24px;
    padding: 8px, 24px;
}

.front-picture {
    background-color: #999999;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #2f2f2f;
}

.button-box {
    display: flex;
    flex-direction: column;
}

.showcase {
    display: table;
    background-color: #999999;
    width: 100%;
}

.row {
    display: table-row;
    width: 100%;
}

.column {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.description {
    background-color: #2f2f2f;
}

.social-media {
    background-color: #999999;
}

.map {
    background-color: #2f2f2f;
}

