/* Elements */

body {
    background-color: #ea4435;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #999999;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

li {
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    color: #ffffff;
    font-weight: bold;
}

h3 {
    color: #ffffff;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    font-size: small;
    padding-left: 10px;
    padding-right: 10px;
}

/* Images */

.logo{
    height: 125px;
    width: 250px;
}

.brand {
    height: 40px;
    width: 40px;
}

.cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.icon {
    height: fit-content;
    width: fit-content;
}

.grid {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Classes */

.navigation {
    display: flex;
    justify-content: space-between;
}

.linkbar {
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

.bar {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bar p {
    margin: 0%;
}

.display {
    
}

.row {
    display: table-row;
    width: 100%;
}

.column {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.booking {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.lifestyle {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.located {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bottom {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.container {
    background-color: #ffffff;
    padding: 20px;
}

.description {
    color: #ffffff;
}

.phone {
    color: grey;
}

/* Code */

#map {
    height: 100px;
    width: 400px;
}
