/* Elements */

body {
    background-color: #ea4435;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #999999;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

h1 {
    color: #ffffff;
    font-weight: bold;
}

h3 {
    color: #ffffff;
}

footer {
    background-color: #ffffff;
    font-size: small;
}

/* Images */

.logo, .brand, .cover, .icon, .grid {
    
}

.logo{
    height: 125px;
    width: 250px;
}

.brand {
    height: 40px;
    width: 40px;
}

.cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.icon {

}

.grid {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Classes */

.navigation {
    display: flex;
    justify-content: space-between;
}

.linkbar {
    
}

.display {
    
}

.row {
    display: table-row;
    width: 100%;
}

.column {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.booking {

}

.lifestyle {
    
}

.located {
    
}

.container {
    background-color: #ffffff;
}

.description {
    color: #ffffff;
}

.phone {
    color: grey;
}